/* @tailwind base;
@tailwind components;
@tailwind utilities; */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    This file contains the main CSS styles for the 
    project. It defines the color palette, 
    typography, and basic UI elements to ensure a 
    cohesive design across the application.
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

:root {
  /* Brand Colors */
  --color-primary: #C07122; /* Estimated from visual */
  --color-primary-variant: #8B4D13; /* Estimated from visual */
  --color-secondary: #3B5065;
  --color-secondary-variant: #1F2B37;
  
  /* UI Colors */
  --color-background: #F6F8FA;
  --color-surface: #FBFBFB;
  --color-light-section: #F1F4F7;
  --color-error: #B00020;
  
  /* Text Colors */
  --text-main: #222222;
  --text-on-dark: #F1F4F7;
}

body {
  background-color: var(--color-background);
  color: var(--text-main);
  margin: 0;
}

/* Typography */

h1 {
  font-family: 'Barlow', sans-serif;
  font-style: normal;
  font-weight: 600;
  /* line-height: 100%; */
  text-transform: uppercase;
}

h2 {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-style: normal;
  font-weight: 600;
  /* font-size: 48px; */
  /* line-height: 100%; */
}

h3 {
  font-family: 'Barlow Condensed', sans-serif;
  font-style: normal;
  font-weight: 500;
  /* font-size: 36px; */
  /* line-height: 100%; */
}

p, span, button, li {
  font-family: 'Outfit', sans-serif;
  font-style: normal;
  font-weight: 400;
  /* font-size: 20px; */
  /* line-height: 100%; */
}

.text-error {
  color: var(--color-error);
}

.text-alt {
  color: var(--text-on-dark);
}


/* Overlay Mask */
.overlay-mask {
  background: linear-gradient(0deg, rgba(34, 34, 34, 0.6), rgba(34, 34, 34, 0.6));
}

/* Button Styles */
.btn {
  padding: 16px 40px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.2s, transform 0.2s;
}

.btn-primary {
  background-color: var(--color-primary);
  color: var(--text-on-dark);
}

.btn-primary:hover {
  background-color: var(--color-primary-variant);
  transform: translateY(8px);
}


.btn-secondary {
  background-color: var(--color-secondary);
  color: var(--text-on-dark);
}

.btn-secondary:hover {
  background-color: var(--color-secondary-variant);
  transform: translateY(8px);
}


/* Container Styles */
.container-fullwidth {
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Inner Content */
.inner-content {
  width: clamp(calc(90% - 20px), 90vw, 1440px);
}

/* Card Styles */
.card {
  background: #FBFBFB;
  box-shadow: 0px 6px 20px 10px rgba(34, 34, 34, 0.25);
  border-radius: 10px;
  padding: 40px;
}
